.container {
  background-color: rgba(90, 95, 93, 0.781);
  min-height: 50vh;

}

.nav {
  min-height: 10vh;
  /* background-color:goldenrod; */
  /* font-size: calc(20px + 2vmin);
  font-weight: 550; */
  background-image: url('/images/background.jpg');

}
.nav a {
  color: white;
  font-size: calc(25px + 1vmin);
  font-weight: 550;
  /* font-weight: 500; */
  margin-top: 2%;
  padding-left: 0;
  scroll-padding-right: 0;
}

.jumbotron {
  background-color: rgb(49, 49, 48); 
  padding-top: 5rem; 
  padding-bottom: 32px;  
}

header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}